
    .chewy-regular {
        font-family: "Chewy", serif;
        font-weight: 400;
        font-style: normal;
      }
body {
    background-color: #D9B504;
    width: 1000px;
    text-align: center;
    margin: 10px auto 10px auto;
    font-family: "Chewy", serif;
}
header {
    background-color: #D96B0B;
    border: #BF0404 solid 10px;
    display: flex;
    justify-content: center;
}
th, td 
{ 
    height: 100px;
    border: #F29F05 10px solid;

}
.kepek {
    background-image: url(img/zamardi.jpg);
    background-size: 100%;
    width: 300px;
}
img {
    width: 250px;
}
p, a {
    display: flex;
    justify-content: center;
}
#table {
    overflow-x: auto;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li {
    border:#BF0404 solid 10px;
    width: 750px;
    height: 100px;
    padding: 50px;
}
h2 {
    text-align: center;
}
a {
    font-size: 150%;
    color: #BF0404;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h4 {
    text-align: center;
}
table {

    display: flex;
    justify-content: center;
}
tr, td {
    border: solid #BF0404;
    display: flex;
    justify-content: center;
}
.kep1{width:100%;
    margin: 10px auto 10px auto;
    width: 600px;
    border: 10px solid #D96B0B;
    
}
p{
    font-size: larger;
    border: 5px solid #D96B0B;
    
}
.zamardi{
    font-size: 100%;
    color: #000000;
    font-weight:none;
    text-decoration: none;

}
