body {
    background-color: #D9B504;
}
header {
    background-color: #D96B0B;
    border: #BF0404 solid 10px;
    display: flex;
    justify-content: center;
}
table {

    display: flex;
    justify-content: center;
}
tr, td {
    border: solid #BF0404;
    display: flex;
    justify-content: center;
}